body {
  font-family: Helvetica, sans-serif;
}
h4 {
  font-size: 1.2rem;

  font-weight: 500;
}

p {
  line-height: 1.2;
  font-weight: 300;
  font-size: 0.95rem;
  padding: 10px 0;
}

.container {
  /* background-color: palevioletred; */
  padding: 50px 0;
}

header {
  width: 40%;
  margin: 0 auto;
}

header img {
  max-width: 100%;
  height: auto;
}

.video-container {
  /* background-color: cadetblue; */
  margin: 50px auto;
  max-width: 1100px;
}

.inner-video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-box {
  width: 250px;
  margin-top: 10px;
}

.video-bottom {
  padding: 5px 10px;
}
